In [2]:
import pandas as pd

In [5]:
json_data = [
    {"order_id": 1, "date": "2024-01-01", "customer_id": 100, "category": "Fiction", "amount": 120},
    {"order_id": 2, "date": "2024-01-02", "customer_id": 101, "category": "Non-Fiction", "amount": 150},
    {"order_id": 3, "date": "2024-01-01", "customer_id": 100, "category": "Fiction", "amount": 90},
    {"order_id": 4, "date": "2024-01-03", "customer_id": 102, "category": "Children", "amount": 80},
    {"order_id": 5, "date": "2024-01-02", "customer_id": 101, "category": "Fiction", "amount": 110}
]

df = pd.DataFrame(json_data)
df

   order_id        date  customer_id     category  amount
0         1  2024-01-01          100      Fiction     120
1         2  2024-01-02          101  Non-Fiction     150
2         3  2024-01-01          100      Fiction      90
3         4  2024-01-03          102     Children      80
4         5  2024-01-02          101      Fiction     110

In [7]:
grouped = df.groupby('customer_id')['amount'].sum().reset_index()
grouped

   customer_id  amount
0          100     210
1          101     260
2          102      80

In [9]:
customer_info = pd.DataFrame({
    "customer_id": [100, 101, 102],
    "name": ["Alice", "Bob", "Charlie"]
})

merged_df = pd.merge(grouped, customer_info, on="customer_id")
merged_df

   customer_id  amount     name
0          100     210    Alice
1          101     260      Bob
2          102      80  Charlie

In [10]:
pivot_table = df.pivot_table(values='amount', index='date', columns='category', aggfunc='sum', fill_value=0)
pivot_table

category    Children  Fiction  Non-Fiction
date
2024-01-01         0      210            0
2024-01-02         0      110          150
2024-01-03        80        0            0